HELP.md

# Gradle
.gradle/
build/

# Java
*.class

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# OS
.DS_Store

# Logs
logs/
*.log

# Application secrets
application-local.yml
application-prod.yml
.env

# Spring Boot
target/
out/

# Gradle wrapper (Gradle이 설치되지 않은 환경에서도 프로젝트를 빌드할 수 있게 해주는 실행 파일)
!gradle/wrapper/gradle-wrapper.jar